.bulb {
    width: 16px;
    height: 16px;
    fill: black;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .bulb.green {
    fill: green;
  }

  .bulb.yellow {
    fill: yellow;
  }

  .bulb.purple {
    fill: purple;
  }

  .bulb.red {
    fill: red;
  }

  .bulb.gray {
    fill: gray;
  }

  .lightbulb {
    background-image: url('#src/images/lightbulb-base.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }
  
  .lightbulb.complete {
    background-image: url('#src/images/lightbulb-green.svg');
  }
  
  .lightbulb.error {
    background-image: url('#src/images/lightbulb-base.svg');
  }
  
  .lightbulb.outdated {
    background-image: url('#src/images/lightbulb-yellow.svg');
  }
  
  .lightbulb.unlabeled {
    background-image: url('#src/images/lightbulb-purple.svg');
  }
  
  .lightbulb.hidden {
    display: none;
  }
  