.rounded-input.large {
    width: 300px;
    height: 100px;
    max-width: 450px;
    max-height: 300px;
    padding: 8px;
    padding-right: 19px;
    border-radius: 8px;
    border-width: 1px;
    border-color: #eeeeee;
    outline: none;
    background-color: transparent;
    color: white;
}

table.cell_identification {
    border-collapse: collapse;
    width: 100%;
}

.cell_identification th, .cell_identification td {
    border: 1px solid #eeeeee;
}