/* @link https://moderncss.dev/pure-css-custom-checkbox-style/sd*/
:root {
  --form-control-color: white;
  --form-control-disabled: #959495;
}

input[type="checkbox"].special {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: none;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: var(--form-control-color);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--form-control-color);
  border-radius: 4px;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"].special::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: var(--form-control-color);
}

input[type="checkbox"].special:checked::before {
  transform: scale(1);
}

input[type="checkbox"].special:focus {
  outline: max(2px, 0.15em) solid var(--form-control-color);;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"].special:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
