div.special.color-input {
  width: 27px;
  height: 20px;
  border-radius: 8px;
  overflow: hidden;
  margin: 1px 4px 1px 2px;
}

input[type="color"].special {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%)
}