.copy-all-segment-IDs-button, .segment-copy-button {
  background-image: url('images/default/copy-icon-14.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
}

.segment-copy-button.copy-visible-segment-IDs-button {
  background-image: url('images/default/copy-visible-segs-icon-13.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
}

.clear-button {
  background-image: url('images/default/fw-x-icon-15.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 21px;
}

.clear-button::after {
  content: "" !important;
}

.neuroglancer-copy-button.neuroglancer-button {
  border-color: transparent;
	background-image: url('images/default/copy-icon-14.svg') !important;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 13px;
}

.neuroglancer-copy-button.neuroglancer-button:before {
  content: "" !important;
}

.neuroglancer-voxel-size-widget {
    vertical-align: center;
    margin-right: 2px;
    align-items: center;
    display: inline-flex;
}