/*
neuroglancer-layer-group-viewer-context-menu
*/
.nge-lb-section-title
{
  font-size : 12px;
  letter-spacing : 1.2px;
  text-transform : uppercase;
  margin: 3.5px 0px;
}
.nge_lbmenu
{
  border-style : Solid;
  border-color : #EEEEEE;
  border-width : 1px;
  border-radius : 8px;
  -moz-border-radius : 8px;
  -webkit-border-radius : 8px;
  font-size : 17px;
  font-family : Roboto;
  color : #EEEEEE;
  padding-left: 20px;
  padding-right: 40px;
}
.nge_lbmenu button {
  color : #EEEEEE;
  margin: 2.5px 0px;
  border-radius : 14px;
  -moz-border-radius : 14px;
  -webkit-border-radius : 14px;
  text-transform : uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  padding: 5px 20px;
}
.blue
{
  background : #4F74C4;
}
.green
{
  background : #35B769;
  margin: 10px 0px !important;
}
.purple
{
  background : #A74FCC;
}
.nge-lb-section-content {
  font-weight: 600;
  margin: 10px 0px !important;
}
.border_button
{
  border-color : #4C525D;
  background: transparent;
  border-radius : 10px;
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
}